body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E7E7E7;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #D9D9D9;
    padding-top: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul li {
    padding: 15px;
    text-align: center;
    background-color: #D9D9D9;
    border-bottom: 1px solid #ccc;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
}

.sidebar .submenu {
    background-color: #D9D9D9;
    font-weight: bold;
}

.sidebar .submenu ul {
    display: block;
}

.sidebar .submenu ul li {
    background-color: #04C9F4;
    border-bottom: none;
}

.sidebar .submenu ul li a {
    color: white;
}

.content {
    flex: 1;
    padding: 20px;
}

h2 {
    color: #04C9F4;
}

form {
    background: #E7E7E7;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: gray;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.buscar {
    background-color: #04C9F4;
    color: white;
}

.excluir {
    background-color: #F40404;
    color: white;
}

.cancelar {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
}

.salvar {
    background-color: #04C9F4;
    color: white;
}
